n8n-blog-workflow.json
{
  "name": "Blog Publishing to Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Your Blog Post Title"
            },
            {
              "name": "content",
              "value": "<h2>Introduction</h2><p>Your blog content in HTML format...</p><h3>Section 1</h3><p>More content...</p>"
            },
            {
              "name": "excerpt",
              "value": "A short description of your blog post that appears in the blog list."
            },
            {
              "name": "featured_image",
              "value": "https://your-image-url.com/image.jpg"
            },
            {
              "name": "category",
              "value": "Behandelingen"
            },
            {
              "name": "author",
              "value": "Drs. Farbod Sharifi"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Blog Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Auto-generate URL-friendly slug from title\nconst title = $input.item.json.title;\n\n// Convert to lowercase and replace spaces/special chars with hyphens\nconst slug = title\n  .toLowerCase()\n  .normalize('NFD') // Normalize unicode characters\n  .replace(/[\\u0300-\\u036f]/g, '') // Remove diacritics\n  .replace(/[^a-z0-9]+/g, '-') // Replace non-alphanumeric with hyphens\n  .replace(/^-+|-+$/g, '') // Remove leading/trailing hyphens\n  .substring(0, 100); // Limit length\n\nreturn {\n  ...items[0].json,\n  slug: slug,\n  published_at: new Date().toISOString()\n};"
      },
      "id": "3",
      "name": "Generate Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xvjpbujolbeatyqetsjz.supabase.co/rest/v1/blog_posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2anBidWpvbGJlYXR5cWV0c2p6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3MTA4MDYsImV4cCI6MjA4NTI4NjgwNn0.vUl9pIsk0oYfKZu0J2r6Uw1ITqvAtEIZyAwbc00g35Y"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2anBidWpvbGJlYXR5cWV0c2p6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3MTA4MDYsImV4cCI6MjA4NTI4NjgwNn0.vUl9pIsk0oYfKZu0J2r6Uw1ITqvAtEIZyAwbc00g35Y"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "4",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 201
            }
          ]
        }
      },
      "id": "5",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ Blog post published successfully!"
            },
            {
              "name": "blog_url",
              "value": "=https://mondzorgsloterweg.nl/blog-detail.html?slug={{ $('Generate Slug').item.json.slug }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "❌ Failed to publish blog post"
            },
            {
              "name": "error",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7",
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1340, 380]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Blog Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Data": {
      "main": [
        [
          {
            "node": "Generate Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slug": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
